extends layout

block content
  form(id="upload" action="/randomizer/randomizerom/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="rom" onchange="$('#upload').submit();")
